<mat-toolbar class="w-100">


  <mat-toolbar-row>


    <a class="list-itm" routerLink="./empprof" routerLinkActive="active">Employee Profile</a>

    <a class="list-itm" routerLink="./addUser" routerLinkActive="active">AddUser</a>



    <div class="dropdown cursorPointer ">
      <a class="list-itm">
        Reports<mat-icon class="sideicon mb-1">arrow_drop_down</mat-icon></a>
      <div class="dropdown-content">
        <a class="list-itm" routerLink="./arptdw" routerLinkActive="active">Attendance Rpt (DateWise)</a>
        <a class="list-itm" routerLink="./arptedw" routerLinkActive="active">Attendance Rpt (EmployeeWise)</a>
        <a class="list-itm" routerLink="./arpttdw" routerLinkActive="active">Attendance Rpt (TypeWise)</a>
        <a class="list-itm" routerLink="./arptmw" routerLinkActive="active">Attendance Rpt (Monthly)</a>
       
   
      </div>
    </div>





  </mat-toolbar-row> 

 

</mat-toolbar>